### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchasedata_df = pd.read_csv(file_to_load)

purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Create list of unique players names and find the length of the list
playercount = len(purchasedata_df["SN"].unique())
# Summary data frame
playercount_df = pd.DataFrame({"Total Players": [playercount]})

playercount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Total unique items
totaluniqueitems = len(purchasedata_df["Item Name"].unique())
# Average Price
averageprice = sum(purchasedata_df["Price"]) / len(purchasedata_df["Price"])
# Total number of purchases
totalnumpurchases = len(purchasedata_df["Purchase ID"])
# Total revenue
totalrevenue = sum(purchasedata_df["Price"])
# Summary data frame
purchasinganalysis_df = pd.DataFrame({"Number of Unique Items": [totaluniqueitems],
                                                        "Average Price": [averageprice],
                                                        "Number of Purchases": [totalnumpurchases],
                                                        "Total Revenue": [totalrevenue]})

# Format to show '$', commas, and 2 decimals
purchasinganalysis_df["Average Price"] = purchasinganalysis_df["Average Price"].astype(float).map("${:,.2f}".format)
purchasinganalysis_df["Total Revenue"] = purchasinganalysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)

purchasinganalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [55]:
# Learned about ".drop_duplicates()" from 
# https://cmdlinetips.com/2019/09/how-to-drop-duplicate-rows-in-pandas/#:~:text=Pandas%20drop_duplicates%20function%20has%20an,we%20want%20to%20identify%20duplicate.
# Drop rows with duplicate value in "SN" because the associated calculations
# are based on the number of players making purchases, not the number of purchases
dropduplicatenames_df = purchasedata_df.drop_duplicates(subset="SN")
# Find each gender's count and create summary data frame
#genderdemo_df = pd.DataFrame(dropduplicatenames_df["Gender"].value_counts())
#genderdemo_df = genderdemo_df.rename(columns={"Gender": "Total Count"})
# Find each gender's percentage and add to dataframe
#percentplayers = round((genderdemo_df['Total Count']/ playercount) * 100, 2)
#genderdemo_df["Percent of Players"] = percentplayers
# Format to show '%' and 2 decimals
#genderdemo_df["Percent of Players"] = genderdemo_df["Percent of Players"].astype(float).map("{:,.2f}%".format)

#genderdemo_df
gendercount = dropduplicatenames_df["Gender"].value_counts()
genderpercentage = round((gendercount / playercount) * 100, 2)
genderdemographics_df = pd.DataFrame({"Total Count": gendercount,
                                    "Percentage of Players": genderpercentage})

genderdemographics_df["Percentage of Players"] = genderdemographics_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
genderdemographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
# 
grouppurchasegender = purchasedata_df.groupby(["Gender"])

purchasecount = grouppurchasegender['Purchase ID'].count()

avgpurchaseprice = grouppurchasegender['Price'].mean()

totalpurchasevalue = grouppurchasegender['Price'].sum()

grouppurchaseperperson = dropduplicatenames_df.groupby(["Gender"])

genderpersoncount = grouppurchaseperperson['Purchase ID'].count()

purchasepersongender = totalpurchasevalue / genderpersoncount

purchaseanalysisgender_df = pd.DataFrame({"Purchase Count": purchasecount,
                                    "Average Purchase Price": avgpurchaseprice,
                                    "Total Purchase Value": totalpurchasevalue,
                                    "Avg Total Purchase per Person": purchasepersongender})


purchaseanalysisgender_df["Average Purchase Price"] = purchaseanalysisgender_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchaseanalysisgender_df["Total Purchase Value"] = purchaseanalysisgender_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchaseanalysisgender_df["Avg Total Purchase per Person"] = purchaseanalysisgender_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

purchaseanalysisgender_df

#purchasepersongender_df = pd.merge(purchasecount_df, avgpurchaseprice_df, totalpurchasevalue_df, genderpersoncount_df, on="Gender")

#avgpurchasepersongender = 
#gendercount = grouppurchaseperperson
#purchaseperperson_df = pd.DataFrame(purchasegendergroup['Price'].sum() / gendercount_df)
#purchasepersongender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame